@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');



body {
    font-family: Michroma,serif;
    background: linear-gradient(90deg, #060b8c 0%, #020109 94%);
}
p{
    color:aquamarine;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(19, 174, 122);
}
.navbar-light .navbar-nav .nav-link.active {
    color:rgb(232, 226, 226);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color:rgb(232, 226, 226) ;
}
.side-bar{
    color: rgb(19, 174, 122);
    background: linear-gradient(270deg, #070c9c 0%, #020109 94%);
} 
.card{
    color: rgb(19, 174, 122);
    background: linear-gradient(270deg, #070c9c 0%, #020109 94%); 
}
.card a{
    text-decoration: none;
    color: rgb(19, 174, 122);
}
.slide-text, .footer-text {
    color: aquamarine;
    margin: auto auto;
}
.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;


}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}



@media (max-width: 755px) {
    .carousel-indicayors{
    display: none;
    }
}
footer,
.btn-outline-primary
{

    background: linear-gradient(270deg, #070c9c 0%, #020109 94%); 

}
.media-links{
    justify-content: center;
    align-items: center;
}